<meta charset="UTF-8">
<title>Owme sapatos</title>

<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- BEGIN: OG TAGS -->
<meta property="og:locale" content="pt_BR" />
<meta property="og:url" content="http://owme.com">
<meta property="og:site_name" content="Owme">
<meta property="og:title" content="Owme">
<meta property="og:description" content="Owme sapatos">
<meta property="og:type" content="website">
<meta property="og:image" content="http://owme.com/images/share-facebook.png">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1260">
<meta property="og:image:height" content="630">
<!-- END: OG TAGS -->

<!-- BEGIN: TWITTER CARD -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="Conta do Twitter do site (incluindo arroba)">
<meta name="twitter:title" content="Owme">
<meta name="twitter:description" content="Owme sapatos">
<meta name="twitter:creator" content="Conta do Twitter do autor do texto (incluindo arroba)">
<meta name="twitter:image" content="http://owme.com/images/share-twitter.png">
<!-- END: TWITTER CARD -->