<div class="menu-mobile">
    <div class="menu-mobile__content">
      <ul>
        <li>
            <a href="javascript:void(0);">sapatos</a>
        </li>
        <li>
            <a href="javascript:void(0);">novidades</a>
        </li>
        <li>
            <a href="javascript:void(0);">quem somos</a>
        </li>
        <li class="active">
            <a href="javascript:void(0);">bazar</a>
        </li>
        <li>
            <a href="javascript:void(0);">minha conta</a>
        </li>
      </ul>
      {{> icons/icon-close }}
    </div>    
</div>