<header>    
    {{> views/menu-mobile }}
    <div class="container">
        <div class="container__icon-menu-mobile effect-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="javascript:void(0);">sapatos</a>
                </li>
                <li>
                    <a href="javascript:void(0);">novidades</a>
                </li>
                <li>
                    <a href="javascript:void(0);">quem somos</a>
                </li>
                <li class="active">
                    <a href="javascript:void(0);">bazar</a>
                </li>
            </ul>
        </nav>
        <img src="../../images/logo-owme.png" alt="Owme sapatos" tile="Owme sapatos">
        <nav>
            <ul>
                <li>
                    <a href="javascript:void(0);">buscar</a>
                </li>
                <li>
                    <a href="javascript:void(0);">minha conta</a>
                </li>
                <li>
                    <a href="javascript:void(0);">sacola</a>
                </li>
            </ul>
        </nav>
    </div>
</header>