<!DOCTYPE html>
<html lang="en">

<head>
    {{> views/head }}
</head>

<body>
    {{> components/loading }}
    {{> views/menu }}
    {{> components/products }}
    {{> views/footer }}
    <script type="text/javascript" src="bootstrap.js"></script>
</body>

</html>