<section class="loading">
    <div class="loading__content">
      <img src="../../images/logo-owme.png" alt="Owme sapatos" tile="Owme sapatos">
      <p>Aguarde carregando...</p>
    </div>
</section>