<section class="pagination">
  <div class="pagination__content">
    <span class="button button--btn-prev" id="button-prev">
      {{> icons/icon-arrow }}
    </span>
    <span class="pagination__content pagination__content--numbers" id="page-number"></span>
    <span class="button button--btn-next" id="button-next"> 
      {{> icons/icon-arrow }}
    </span>
  </div>
</section>