
<section data-component="products-html">
  <div class="container">
    <div class="box-data-page">
      <h1>sapatos</h1>
      <select id="select-filter">
        <option value="">ordenar por</option>
        <option value="maiorpreco">maior preço</option>
        <option value="menorpreco">menor preço</option>
        <option value="nomeaz">nome a-z</option>
        <option value="nomeza">nome z-a</option>
      </select>
    </div>
    <div id="products-html">loading...</div>
  </div>  
</section>